body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*date*/
#date {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

/*clock*/
#clock {
  height: 110px;
  font-weight: bold;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
}

/*before login*/
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form input {
  width: 245px;
  border: none;
  border-bottom: solid black;
  background-color: transparent;
}

.login-form input::placeholder {
  color: black;
}

.login-form input:focus {
  outline: none;
}

.loginBtn {
  border: 2px solid black;
  color: black;
  margin-left: 10px;
  background-color: transparent;
  border-bottom-right-radius: 5px;
}

.loginBtn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

/*after login*/
.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}

/*input To-Do-List*/
#todoInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#todoInput input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid black;
  width: 165px;
  background-color: transparent;
}

#todoInput input::placeholder {
  color: black;
}

#todoInput input:focus {
  outline: none;
}

/*list of To-Do-List*/
#todoList {
  padding: 0;
  list-style-type: decimal;
}

#todoList li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

#todoList span {
  margin-right: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  border: 2px solid black;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background-image: url("../images/check2.png");
  background-size: 10px 10px;
}

#todoList button {
  all: unset;
  border: none;
  background-color: transparent;
  padding: 0;
  color: tomato;
}

#todoList button:hover {
  cursor: pointer;
}

/*quotes*/
#quotes {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  font-style: italic;
}

/*weather*/
#weather {
  position: absolute;
  top: 0;
  right: 0;
}

/*background*/
#back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*for hidden some tag*/
.hidden {
  display: none;
}
